@page "/chatmain"
@using BlazorChatClient.Shared
@inject HttpClient Http

<h3 style="font-style:@_headingFontStyle">ChatMain</h3>

<div style="background-color:lightyellow">
    <p>
        Please, select a username: <input type="text" @bind="@UserName" /><br />
    </p>
    <p>
        Enter your message       : <input type="text" @bind="@OutgoingMessage" disabled="@IsDisabled" /><br />
    </p>

    <button type="button" class="btn btn-light" @onclick="StartReceive">
        Start Receive
    </button>
    <button type="button" class="btn btn-primary" @onclick="SendMessage">
        Send Message
    </button>

    <p style="visibility:@IsMsgVisible">I'll echo your message: @echoMessage2</p>
</div>

<p id="abc" style="font-style:oblique;font-size:large;color:navy;visibility:@IsVisible">Incoming Messages for @UserName: </p>

<table border="1" style="visibility:@IsVisible" width="200">
        @foreach (var singleStr in IncomingMessage)
        {
            <tr style="color:dodgerblue">
                <td>@singleStr</td>
            </tr>
        }
</table>

@functions {
    public string _headingFontStyle = "Italic";

    [Parameter]
    public string[] IncomingMessage { get; set; } = new[] { "" };
    [Parameter]
    public string OutgoingMessage { get; set; } = "enter message";
    [Parameter]
    public string UserName { get; set; } = "";

    protected bool IsDisabled { get; set; } = false;
    public string echoMessage2 { get; set; }
    public string IsVisible { get; set; } = "hidden";
    public string IsMsgVisible { get; set; } = "hidden";

    public void SendMessage()
    {
        if (string.IsNullOrEmpty(this.UserName) == false)
        {
            this.IsMsgVisible = "visible";
            echoMessage2 = OutgoingMessage;
        }
    }

    public void StartReceive()
    {
        this.IncomingMessage = new[] { "Item 0", "Item 1", "Item 2" };

        this.UnhideTitle();

        return;
    }

    public void UnhideTitle()
    {
        if (string.IsNullOrEmpty(this.UserName) == false)
        {
            this.IsVisible = "visible";
        }
    }
}
